[user]
	name = Rakarake
	email = rak@rakarake.xyz
    signingkey = "98CF6C24F40B3531"
[core]
	editor = nvim
	autocrlf = input
	excludesfile = /home/rakarake/.gitignore
[color]
	ui = auto
[commit]
    gpgsign = true

